{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Einloggen</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <br>
    <p>Neuer Benutzer (Kein OG)? <a href="{{ url_for('auth.register') }}">Registrieren!</a></p>
    <p>
        Hast du dein Passwort vergessen du Stück Birne du anti Sigmer?
        <a href="{{ url_for('auth.reset_password_request') }}">Passwort Zurücksetzen</a>
    </p>
{% endblock %}
