{% extends 'bootstrap/base.html' %}
{% block title %}
    {% if title %}{{ title }} - Chatus{% else %}Welcome to Chatus{% endif %}
{% endblock %}
{% block body_attribs %}
style="background-image: url('https://media.istockphoto.com/id/517903910/ru/векторная/мультяшный-карте-бесшовный-узор.jpg?s=612x612&w=0&k=20&c=IfXkqQ9XERMAq-rAbva0krSCARmUymrwtrHvWb2Gvq8=');background-size: 612, 612; background-repeat: repeat; font-size:16pt;";
data-bs-theme="dark"
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-default" >
        <div class="container" data-bs-theme="dark">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Chatus</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}">Die Hood</a></li>
                    <li><a href="{{ url_for('main.explore') }}">Entdecken</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profil</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Ausloggen</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
